# SIGASJ Backend - Variables de entorno de ejemplo
# ASP.NET Core lee appsettings.json y appsettings.Development.json.
# Tambien puede sobreescribir con variables de entorno usando doble guion bajo:
# ConnectionStrings__DefaultConnection=Host=...;Password=...

ConnectionStrings__DefaultConnection=Host=aws-1-us-east-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.wgedltybvsgmlbbnxnkr;Password=[YOUR-PASSWORD];SSL Mode=Require;Trust Server Certificate=true

# Jwt__Secret=SIGASJ-SuperSecretKey-ChangeInProduction-Min32Chars!
# Jwt__Issuer=SIGASJ
# Jwt__Audience=SIGASJ-Frontend
# Admin__Usuario=admin
# Admin__Contrasena=admin1234
# Cors__AllowedOrigins__0=http://localhost:5173
