<?xml version="1.0" encoding="utf-8"?>
<!--
  Perfil Web Deploy para MonsterASP.net (hosting .NET x86)
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sigasj.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <MSDeployServiceURL>site75093.siteasp.net:8172</MSDeployServiceURL>
    <DeployIisAppPath>site75093</DeployIisAppPath>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site75093</UserName>
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
  </PropertyGroup>
</Project>
